.progress-container {
    position: relative;
  }
  
  .progress-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
    background-color: #3a3b3e;
  }
  
  .progress-segment {
    height: 100%;
  }
  
  .segment-1 {
    width: 33%;
    background-color: #6DE3F2; 
    /* #71c6cc */
    border-top-left-radius: 5px; 
  }
  
  .segment-2 {
    width: 33%;
    background-color: #f0da69;
    /* #F7E450; */
  }
  
  .segment-3-approved {
    width: 34%;
    background-color: #81cd87;
    /* #76FF8B;  */
    border-top-right-radius: 5px; 
  }
  
  .segment-3-rejected {
    width: 34%;
    background-color: #ee6c64;
    /* #FF5E57;  */
    border-top-right-radius: 5px; 
  }
  
  nz-progress {
    width: 10%;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    background-color: white;
  }
  